<script type="text/ng-template" id="notValidDialog">
  <div class="wrong-popup">
    <div ng-style="{'width':'95%', 'margin':'0 auto', 'padding':'10px'}">
      <div class="col-sm-12">
        <span class="glyphicon glyphicon-remove red save-icon text-center center-block" aria-hidden="true"></span>
        <h4 class="text-center">L'ensemble des champs obligatoires n'a pas été rempli.</h4>
        <br />
        <h5 class="text-center">Merci de bien vouloir compléter votre saisie.</h4>
        <br />
      </div>
    </div>
    <div class="col-sm-12" align="center">
      <button class="btn btn-warning" type="button" ng-click="closeThisDialog('OK')">Ok</button>
    </div>
  </div>
</script>
<div ng-style="{'background-color' : 'none'}" ng-controller="NewClientCtrl">
		<div class="col-sm-12">
            <form role="form" name="formClient" novalidate>
				<h4>Nouveau client</h4>
				<br />
					<div class="form-group">
                        <div class="form-group" ng-class="{ 'has-error' : formClient.nom_cl.$invalid }">
							<label for="nom_cl">Nom </label>
							<input class="form-control" ng-model="nom_cl" id="nom_cl" required ng-minlength="2" ng-maxlength="50"/>
                            <div class="help-block" ng-if="formClient.nom_cl.$error !== {}" role="alert">
	                            <div class="warning" ng-if="formClient.nom_cl.$error.minlength">Trop court.</div>
	                            <div class="warning" ng-if="formClient.nom_cl.$error.maxlength">Trop long.</div>
	                            <div class="warning" ng-if="formClient.nom_cl.$error.required">Requis.</div>
                            </div>
                        </div>
                    </div>
					<div class="form-group">
						<label for="prenomField">Prénom </label>
						<input class="form-control" ng-model="prenom_cl" id="prenomField"/>
					</div>
					<div class="form-group">
						<label for="telField">Téléphone </label>
						<input class="form-control" ng-model="tel_cl" id="telField"/>
					</div>
					<div class="form-group">
						<label for="mailField">Mail </label>
						<input class="form-control" ng-model="mail_cl" id="mailField"/>
					</div>
            </form>
			<br />
			<br />
			<div class="col-sm-12" align="center">
				<button class="btn btn-success" type="button" ng-click="addClient(form)">Ajouter</button>
				<button class="btn btn-danger" type="button" ng-click="retour()">Annuler</button>
			</div>
			<br/>
			<div class="col-sm-12" align="center">
				<div ng-if="msg.isGood == 'yes'" class="alert alert-success">
					<strong>Succès!</strong> {{ msg.txt }}
				</div>
				<div ng-if="msg.isGood == 'no'" class="alert alert-danger">
					<strong>Erreur!</strong> {{ msg.txt }}
				</div>
			</div>
		</div>

</div>
